:root {
  --button-color: #6c63ff;
  --branding-color: #f9f7fe;
  --primary-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}

h1 {
  font-family: var(--primary-font);
}

h2 {
  font-family: var(--default-font);
}

body {
  font-family: var(--default-font);
}

.hero h1 {
  font-family: var(--primary-font);
  font-size: 96px;
  font-weight: bold;
}

.hero p {
  font-family: var(--default-font);
  font-size: 36px;
  font-weight: bold;
  margin: 0px;
  line-height: 1.5;
}

.hero h2 {
  font-family: var(--default-font);
  font-size: 24px;
  font-weight: normal;
  color: #272142;
  line-height: 2;
}

.hero {
  text-align: center;
  background-color: var(--branding-color);
  padding: 160px 20px;
}

.btn-branding {
  background: var(--button-color);
  border-radius: 4px;
  text-decoration: none;
  color: white;
  padding: 8px 20px;
  font-size: 18px;
  line-height: 27px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.btn-feature {
  border-radius: 4px;
  text-decoration: none;
  color: var(--button-color);
  border: 1px solid var(--button-color);
  padding: 8px 20px;
  font-size: 18px;
  line-height: 27px;
}

.project-desc {
  padding: 10px 60px;
}

.project-desc h2 {
  font-size: 54px;
  font-family: var(--primary-font);
}

.sub-title {
  font-size: 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
}

.content-container p {
  margin-bottom: 40px;
}

.content-container {
  padding: 160px 20px;
}

.content p {
  font-size: 17px;
  font-family: var(--default-font);
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font);
  font-weight: bold;
}

.about-img {
  margin-top: 50px;
  border-radius: 10px;
}

@media (max-width: 960px) {
  .hero h1 {
    font-size: 43px;
  }
  .project-desc {
    padding: 0px;
    text-align: center;
  }

  .project-desc h2 {
    font-size: 45px;
  }

  .content-container {
    text-align: center;
    padding: 30px !important;
  }

  .content-container h1 {
    font-size: 50px;
  }
}
